@import './variables';

.movie-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  width: 100%;
  max-width: 1200px;

  @media screen and (max-width: $mobile) {
    display: block;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  button {
    background-color: $primary-color;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($primary-color, 10%);
    }

    &:disabled {
      background-color: $secondary-color;
      cursor: not-allowed;
    }
  }
}
