@import './variables';

.searchbar {
  display: flex;
  justify-content: center;
  width: 100%;

  input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid $secondary-color;
    border-radius: $border-radius;
    outline: none;
    max-width: 300px;
    width: 100%;

    &:focus {
      border-color: $primary-color;
    }
  }
}
